.additionalInfo {
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.infoBlock {
  margin-left: 5%;
  margin-bottom: 2%;
}
.addInfoHeader {
  padding-bottom: 1.5% !important;
  padding-top: 1.5% !important;
}
